.venv/
.DS_Store
__pycache__/

raw/thermal-runaway-video/*.mp4
raw/thermal-runaway-video/*.mov
raw/thermal-runaway-video/*.avi

.obsidian/

# gitignore file for a SolidWorks project

# SolidWorks temporary files
~$*.sldprt
~$*.sldasm
~$*.slddrw
~$*.sld

# For systems with case-sensitive (SolidWorks uses both)
~$*.SLDPRT
~$*.SLDASM
~$*.SLDDRW
~$*.SLD

# SolidWorks backups and auto-recovery
*.bak
*.swbak

# Cache of simulation results
/simulation_results/
